 <div class=" footer"> 
    <div class="row">
      <div class="col-lg-6">
        <h1>Hotal Management</h1>
        <h3>Stay With Your Grade</h3>
      </div>
<div class="col-lg-3">
    <a routerLink="/home">Home</a>
    <a routerLink="/client">Client-List</a>
    <a routerLink="/member">Member-List</a>
    <a routerLink="/about" class="">about</a>
</div>
   <div class="col-lg-2">
   <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
   <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
   <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
   <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
   </div>
  </div>
</div>
