
<div class="container mt-5">
 <form  class="context" #loginform="ngForm" (ngSubmit)="loginUser()">
  <small class=".text-danger">{{msg}}</small>
    <h1>Login</h1>
    <div class="row">

      <div class=" mt-2 mb-2 col-lg-6-col-6">

        <input type="email"  class="form-control"
         placeholder="Email Id" name="email" [(ngModel)]="user.emailId" required #email="ngModel"
         [class.is-invaild]="email.invalid && email.touched">
         <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email Id is required field</small>

      </div>

      <div class=" mt-2 mb-2 col-lg-6-col-6">
        <input type="password" class="form-control"
        placeholder="password" name="password" [(ngModel)]="user.password" required #password="ngModel" 
        [class.is-invaild]="password.invalid && password.touched">
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is required field</small>
        
      </div>

     <div class="checkbox mb-3">
      <label><input type="checkbox" name="remember">remember</label>
     </div>

    <button [disabled]="loginform.form.invalid" type="submit" class="btn btn-primary" (click)="logIn(user)" >Submit</button>
    </div>
  </form>
  <small class="float-right" (click)="gotoregister()" [routerLink]="['./signup']"> New User ? Signup here</small>
</div>
