.container{
  text-align: center;
  padding: 5%;
  margin: 5px;
 
}

.container-fluid{
    text-align: 10px 5px;
    padding: 5px 2px;

}
.container mb-6{
    text-align: center;
}
.field{
    padding: 1%;
    text-transform: capitalize;
    text-decoration: underline;
}