<div class="container">
    <h2 class="field">Room Pricing List</h2>

    <table class="container-fluid" border="box mt-2 ms-auto mb-2">

      <tr>
        <th>Room</th>
        <th>price</th>
      </tr>
      <tr>
        <td>Master Bedroom</td>
        <td>4550 </td>
      </tr>
      <tr>
        <td>Single Room</td>
        <td>5646</td>
      </tr>
      <tr>
        <td>Double Bedroom</td>
        <td>7459</td>
      </tr>
      <tr>
        <td>Ac Room</td>
        <td>5656</td>
      </tr>
      <tr>
        <td>Home Theatre Room</td>
        <td>5656</td>
      </tr>
      <tr>
        <td>Gym Room</td>
        <td>3434</td>
      </tr>
    </table>
    
</div>
